#EventCss .wrap {
    width: 1200px;
    margin: 0 auto;
}

#EventCss h4 {
    text-align: center;
}

#EventCss ul {
    width: 1100px;
    margin: 0 auto;
}

#EventCss li {
    width: 300px;
    height: 450px;
    text-align: center;
    display: inline-block;
    margin-bottom: 50px;
}

#EventCss .List_l {
    width: 500px;
    height: 450px;
    text-align: center;
    display: inline-block;
    margin-bottom: 50px;
}

#EventCss .EventLabel {
    width: 850px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#EventCss .Explain {
    display: inline-block;
    width: 400px;
}

#EventCss .img0 {
    width: 360px;
    height: 240px;
    display: inline-block;
    margin-right: 50px;
}

#EventCss .img1 {
    display: block;
    background: url(/img/other/woman_4.png) no-repeat;
    width: 250px;
    height: 340px;
    margin-bottom: 10px;
    background-size: contain;
}

#EventCss .img1:hover {
    display: block;
    background: url(/img/other/woman_4_h.png) no-repeat;
    width: 250px;
    height: 340px;
    margin-bottom: 10px;
    background-size: contain;
}

#EventCss .img2 {
    display: block;
    background: url(/img/other/cook.png) no-repeat;
    width: 250px;
    height: 340px;
    margin-bottom: 10px;
    background-size: contain;
}

#EventCss .img2:hover {
    display: block;
    background: url(/img/other/cook_h.png) no-repeat;
    width: 250px;
    height: 340px;
    margin-bottom: 10px;
    background-size: contain;
}

#EventCss .img3 {
    display: block;
    background: url(/img/other/huta.png) no-repeat;
    width: 450px;
    height: 350px;
    background-size: contain;
}

#EventCss .img3:hover {
    display: block;
    background: url(/img/other/huta_h.png) no-repeat;
    width: 450px;
    height: 350px;
    background-size: contain;
}


#EventCss .img4 {
    display: block;
    background: url(/img/other/witch.png) no-repeat;
    width: 280px;
    height: 340px;
    margin-top: 20px;
    background-size: contain;
}

#EventCss .img4:hover {
    display: block;
    background: url(/img/other/witch_h.png) no-repeat;
    width: 280px;
    height: 340px;
    margin-top: 20px;
    background-size: contain;
}

#EventCss .img5 {
    display: block;
    background: url(/img/other/woman_1.png) no-repeat;
    width: 250px;
    height: 350px;
    background-size: contain;
}

#EventCss .img5:hover {
    display: block;
    background: url(/img/other/woman_1_h.png) no-repeat;
    width: 250px;
    height: 350px;
    background-size: contain;
}

#EventCss .img6 {
    display: block;
    background: url(/img/other/moon.png) no-repeat;
    width: 300px;
    height: 350px;
    background-size: contain;
}

#EventCss .img6:hover {
    display: block;
    background: url(/img/other/moon_h.png) no-repeat;
    width: 300px;
    height: 350px;
    background-size: contain;
}

#EventCss .img7 {
    display: block;
    background: url(/img/other/music.png) no-repeat;
    width: 300px;
    height: 340px;
    margin-bottom: 10px;
    background-size: contain;
}

#EventCss .img7:hover {
    display: block;
    background: url(/img/other/music_h.png) no-repeat;
    width: 300px;
    height: 340px;
    margin-bottom: 10px;
    background-size: contain;
}

#EventCss .img8 {
    display: block;
    background: url(/img/other/roomba.png) no-repeat;
    width: 450px;
    height: 350px;
    background-size: contain;
}

#EventCss .img8:hover {
    display: block;
    background: url(/img/other/roomba_h.png) no-repeat;
    width: 450px;
    height: 350px;
    background-size: contain;
}